@import "foundation-emails";
@import "base/settings";
@import "base/null";

body,
html,
.body {
    background: #9e9e9e !important;
}
*, a, p{
    font-family: Rubik,Helvetica,Arial,sans-serif !important;
    color: #444440;
    line-height: 1;
}
table.container{
    background-color: inherit;
    color: inherit;
}
.resume {
    width: toRem(900) !important;
    // .resume__container
    &__container {
        width: toRem(900);
        margin: 0 auto;
        display: grid;
        grid-template-columns: toRem(300) 1fr;
        box-shadow: 0 0 toRem(20) #00000050;
    }
    &__section{
        padding-bottom: toRem(10);
        line-height: 1.5;
        border-bottom: 1px solid #51515161;
    }
    // .resume__title
    &__title {
        font-size: toRem(27);
        text-transform: uppercase;
        font-weight: 700;
        margin: 0 !important;
    }
    // .resume__position
    &__position {
        font-size: toRem(17);
        text-transform: uppercase;
        font-weight: 700;
        margin: 0 !important;
    }
}
.data-resume {
    color: #fff;
    background-color: #173665;
    padding: 0 !important;
    &__top{
        padding: toRem(30) toRem(20) !important;
    }
    // .data-resume__img
    &__img {
        position: relative;
        width: toRem(200);
        height: toRem(200);
        border-radius: 50%;
        margin: 0 auto;
        & img{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border-radius: inherit;
            object-fit: cover;
        }
    }
    &__body{
        padding: 0 toRem(20) toRem(60) toRem(20) !important;
    }
    // .data-resume__section
    &__section {}
    // .data-resume__title
    &__title {
        font-size: toRem(21);
        font-weight: 500;
        letter-spacing: 0.2em;
        padding: toRem(20) 0 !important;
        margin: 0 !important;
        color: #fff;
    }
    &__contacts{
        display: flex;
        color: #fff;
        flex-direction: column;
        row-gap: toRem(10);
        margin-left: toRem(20);
        & p, & a{
            font-size: toRem(13);
            color: #fff;
            margin: 0 !important;
        }
    }
    // .data-resume__list
    &__list {
        display: flex;
        flex-direction: column;
        row-gap: toRem(10);
        margin-left: toRem(20);
        color: #fff;
    }
    // .data-resume__item
    &__item {
        position: relative;
        font-size: toRem(13);
        color: #fff;
        &::before{
            content: '';
            position: absolute;
            left: toRem(-10);
            top: 50%;
            transform: translateY(-50%);
            background-color: #fff;
            width: toRem(3);
            height: toRem(3);
            border-radius: 50%;
        }
    }
}
.info-resume {
    padding: toRem(30) toRem(20) toRem(60) toRem(50) !important;
    background-color: #fff;
    &__section{
        position: relative;
        padding: toRem(20) 0;
        &::before{
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 20%;
            height: toRem(1);
            background-color: #51515161;
        }
        &._ed{
            &::before{
                display: none;
            }
        }
    }
    &__block{
        &:not(:first-child){
            margin-top: toRem(10);
        }
        & > .info-resume__descr{
            padding-top: toRem(10);
            &:first-child{
                padding-top: 0;
            }
        }
    }
    // .info-resume__title
    &__title {
        font-size: toRem(21);
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 0.2em;
        padding-bottom: toRem(10);
        margin: 0 !important;
        &._big{
            font-size: toRem(21);
        }
    }
    // .info-resume__bold
    &__bold {
        font-weight: 500;
        font-size: toRem(15);
        line-height: 1.5;
        padding-bottom: toRem(5);
        margin: 0 !important;
        & a{
            text-decoration: underline;
            color: #444440;
            font-weight: 500;
        }
    }
    // .info-resume__descr
    &__descr {
        line-height: 1.5;
        font-size: toRem(13);
        margin: 0 !important;
        & b{
            font-weight: 500 !important;
        }
    }
}
