@import "foundation-emails";
@import "base/settings";
@import "common";

body,
html,
.body {
    background: #fff !important;
}

table.container {
    background: #e5eaff;
    width: toRem(600);
}
@media only screen and (max-width: 596px) {
    table.body .container {
        width: 100% !important;
    }
}

.header {
    & .columns {
        padding-bottom: 0;
    }
    & .wrapper-inner {
        padding: toRem(20) 0;
    }
}

.brand {
    width: toRem(184) !important;
    height: toRem(288) !important;
}
.wrapper-cards {
    background: url("./assets/img/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.card {
    width: toRem(168) !important;
    height: toRem(112) !important;
    overflow: hidden;
    & img {
        width: 100%;
        height: 100%;
    }
    & p {
        padding: toRem(5);
        color: $success-color;
        font-size: toRem(12);
        text-align: center;
        background: #00000090;
        margin-top: toRem(-25);
        position: relative;
        z-index: 1;
    }
}
.card-title {
    max-width: toRem(168);
    margin-top: toRem(6);
    margin-left: toRem(6);
    text-align: left;
    & img {
        width: toRem(16) !important;
        height: toRem(16) !important;
    }
    & span {
        font-size: toRem(12);
        color: $white;
    }
    & img,
    & span {
        display: inline-block;
        vertical-align: middle;
    }
}
.footer {
    background: linear-gradient(147deg, #494c6a 0%, #252638 100%);
    & .wrapper-inner {
        padding-left: toRem(46);
        padding-right: toRem(46);
    }
    & .action {
        position: relative;
        &__gif {
            position: absolute;
            right: toRem(-8);
            top: toRem(-8);
            width: toRem(24);
            height: toRem(24);
            & img {
                width: toRem(24);
                height: toRem(24);
                object-fit: contain;
            }
        }
    }
    &__column {
        padding: toRem(16) toRem(16) !important;
        border-radius: toRem(16) 0 0 toRem(16);
        @media only screen and (max-width: 596px) {
            border-radius: toRem(16) toRem(16) 0 0 !important;
        }
        &-primary {
            background: linear-gradient(147deg, #ff3b3b 0%, #60c 100%);
            @media only screen and (min-width: 597px) {
                & .text {
                    max-width: toRem(234) !important;
                }
            }
        }
        &-secondary {
            background: linear-gradient(147deg, #3e7bfa 0%, #60c 100%);
        }
    }
    &__box {
        overflow: visible;
        border-radius: 0 toRem(16) toRem(16) 0;
        background: rgba(255, 255, 255, 0.1);
        vertical-align: middle;
        padding: toRem(16) !important;
        @media only screen and (max-width: 596px) {
            border-radius: 0 0 toRem(16) toRem(16) !important;
        }
    }
    &__wrapper {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        & img {
            width: toRem(40) !important;
            height: toRem(40) !important;
            margin-right: toRem(8);
        }
        & img,
        & h5 {
            display: inline-block;
            vertical-align: middle;
        }
    }
    &__title {
        font-size: toRem(14);
        text-align: left;
        margin-bottom: 0;
        & a {
            text-decoration: underline;
            -webkit-transition: all 0.2s ease;
            -moz-transition: all 0.2s ease;
            -ms-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            transition: all 0.2s ease;
            color: inherit;
            @media (any-hover: hover) {
                &:hover {
                    color: $light-gray !important;
                }
            }
            &:active {
                color: $light-gray !important;
            }
        }
    }
    &__text {
        text-align: left;
        font-size: toRem(12);
        margin-bottom: 0;
        margin-top: toRem(10);
        & a {
            text-decoration: underline;
            -webkit-transition: all 0.2s ease;
            -moz-transition: all 0.2s ease;
            -ms-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            transition: all 0.2s ease;
            color: inherit;
            @media (any-hover: hover) {
                &:hover {
                    color: $white !important;
                }
            }
            &:active {
                color: $white !important;
            }
        }
    }
}
.questions {
    border-top: toRem(1) dashed rgba(255, 255, 255, 0.6);
    border-bottom: toRem(1) dashed rgba(255, 255, 255, 0.6);
    & > tbody > tr > th {
        padding: toRem(20) 0;
        @media only screen and (max-width: 596px) {
            padding-top: 0 !important;
            &:not(:last-child) {
                padding-top: toRem(20) !important;
            }
        }
    }
    & .title,
    & .text {
        @media only screen and (max-width: 596px) {
            text-align: center !important;
        }
    }
}
.copyright {
    font-size: toRem(10);
    color: #818296;
    text-align: center;
    line-height: 160%; /* 16/10 */
    & a {
        color: #da2e71;
        @media (any-hover: hover) {
            &:hover {
                text-decoration: underline !important;
            }
        }
        &:active {
            text-decoration: underline !important;
        }
    }
}
